@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --text-xxs: 10px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 36px;
  --text-4xl: 40px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-opacity-25: var(--foreground-opacity-25);
  --color-foreground-opacity-50: var(--foreground-opacity-50);

  --font-trade-gothic: var(--font-trade-gothic);
  --font-montserrat: var(--font-montserrat);

  /* --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar); */

  /* --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1); */

  --color-ring: var(--ring);

  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-placeholder: var(--input-placeholder);
  --color-input-icon: var(--input-icon);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  /* --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent); */

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-focus: var(--primary-focus);
  --color-primary-pressed: var(--primary-pressed);

  /* --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card); */

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius));
  --radius-lg: calc(var(--radius) + 4px);
  --radius-xl: calc(var(--radius) + 8px);
  --radius-2xl: calc(var(--radius) + 12px);
  --radius-3xl: calc(var(--radius) + 16px);
  --radius-4xl: calc(var(--radius) + 20px);
}

:root {
  --radius: 0.25rem;

  --background: oklch(1 0 0);

  --foreground: rgba(17, 34, 17, 1);
  --foreground-opacity-50: rgba(17, 34, 17, 0.5);
  --foreground-opacity-25: rgba(17, 34, 17, 0.25);

  /* --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0); */

  /* --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0); */

  --primary: rgba(141, 211, 187, 1);
  --primary-hover: rgba(155, 224, 200, 1);
  --primary-focus: rgba(165, 235, 211, 1);
  --primary-pressed: rgba(130, 203, 178, 1);
  --primary-foreground: rgba(17, 34, 17, 1);

  --secondary: rgba(210, 209, 211, 1);
  --secondary-foreground: rgba(143, 140, 145, 1);

  --muted: rgba(210, 209, 211, 1);
  --muted-foreground: rgba(143, 140, 145, 1);

  /* --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0); */

  --destructive: rgba(253, 115, 110, 1);
  /* 
  --border: oklch(0.922 0 0); */

  --input: rgba(28, 27, 31, 1);
  --input-border-disabled: rgba(28, 27, 31, 0.12);
  --input-placeholder: rgba(28, 27, 31, 1);
  --input-icon: rgba(73, 69, 79, 1);
  --input-border: rgba(121, 116, 126, 1);

  --ring: oklch(0.708 0 0);

  /* --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08); */

  /* --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0); */
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
